@tailwind base;
@tailwind components;
@tailwind utilities;

/* 한글 평창체 */
@font-face {
  font-family: "PyeoungChang";
  font-weight: normal;
  src: url("./fonts/PyeongChang-Regular.ttf") format("truetype");
}

body {
  font-family: "PyeoungChang";
}
