@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: lighter;
  src: url("./fonts/Roboto-Thin.ttf") format("truetype");
}


/* Roboto 이텔릭체 */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("./fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: lighter;
  src: url("./fonts/Roboto-ThinItalic.ttf") format("truetype");
}


/* 한글 평창체 */
@font-face {
  font-family: "PyeoungChang";
  font-weight: normal;
  src: url("./fonts/PyeongChang-Regular.ttf") format("truetype");
}

body {
  font-family: "Roboto", "PyeoungChang";
}
